{
  "openapi": "3.0.0",
  "info": {
    "title": "PgBeam Control Plane API",
    "description": "REST API for the PgBeam multi-tenant PostgreSQL proxy platform.\nManages projects, database connections, cache/pool configuration, and regions.\n",
    "version": "1.0.0",
    "license": {
      "name": "Proprietary",
      "url": "https://pgbeam.com/terms"
    },
    "contact": {
      "name": "PgBeam",
      "url": "https://pgbeam.com"
    }
  },
  "servers": [
    {
      "url": "https://api.pgbeam.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Projects",
      "description": "Project lifecycle, custom domains, read replicas, and cache rules",
      "x-icon": "FolderKanban"
    },
    {
      "name": "Databases",
      "description": "Database connection management per project",
      "x-icon": "Database"
    },
    {
      "name": "Policies",
      "description": "Policy profiles enforced on agent credentials",
      "x-icon": "ShieldCheck"
    },
    {
      "name": "Agents",
      "description": "Scoped agent credentials for AI agent database access",
      "x-icon": "Bot"
    },
    {
      "name": "Approvals",
      "description": "Human approval workflow for held agent statements",
      "x-icon": "CircleCheck"
    },
    {
      "name": "Webhooks",
      "description": "Event delivery endpoints for project audit and anomaly events",
      "x-icon": "Webhook"
    },
    {
      "name": "Anomalies",
      "description": "Anomalous-behavior alerts surfaced by the gateway",
      "x-icon": "TriangleAlert"
    },
    {
      "name": "Branches",
      "description": "Ephemeral sandbox branches for write isolation",
      "x-icon": "GitBranch"
    },
    {
      "name": "Migrations",
      "description": "Migration safety linting for schema changes",
      "x-icon": "FileCog"
    },
    {
      "name": "Analytics",
      "description": "Usage metrics, billing data, and query insights",
      "x-icon": "ChartLine"
    },
    {
      "name": "Platform",
      "description": "Regions and health checks",
      "x-icon": "Globe"
    },
    {
      "name": "Account",
      "description": "Account data, privacy controls, and onboarding",
      "x-icon": "CircleUser"
    },
    {
      "name": "Support",
      "description": "Support case management",
      "x-icon": "LifeBuoy"
    },
    {
      "name": "Internal",
      "description": "Internal service-to-service endpoints"
    },
    {
      "name": "MCP",
      "description": "Model Context Protocol (MCP) remote server endpoint",
      "x-sdk-exclude": [
        "go",
        "ts"
      ]
    }
  ],
  "paths": {
    "/v1/account/export": {
      "get": {
        "operationId": "exportAccountData",
        "summary": "Export account data",
        "description": "Returns all personal data associated with the authenticated user in a structured JSON format. Supports GDPR data portability and CCPA right to know. Audit logs are limited to the most recent 1000 entries.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Account data export.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/agents": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "createAgentCredential",
        "x-feature-flag": "agent-gateway",
        "summary": "Create an agent credential",
        "description": "Issues a scoped Postgres login and hosted MCP token for an AI agent. The connection string and MCP token are returned once and cannot be retrieved again.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentCredentialRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent credential created. Secrets shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCredentialSecrets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Agent credential quota reached for the organization plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listAgentCredentials",
        "x-feature-flag": "agent-gateway",
        "summary": "List agent credentials",
        "description": "Lists agent credentials for the project. Secrets are never returned.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agent credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAgentCredentialsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/agents/{agent_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/AgentId"
        }
      ],
      "get": {
        "operationId": "getAgentCredential",
        "x-feature-flag": "agent-gateway",
        "summary": "Get an agent credential",
        "description": "Returns a single agent credential. Secrets are never included.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "The agent credential (no secrets).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCredential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateAgentCredentialStatus",
        "x-feature-flag": "agent-gateway",
        "summary": "Enable or disable an agent credential",
        "description": "Toggles the kill-switch. Disabling drops live connections within seconds.",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgentCredentialStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated agent credential.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCredential"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "operationId": "revokeAgentCredential",
        "x-feature-flag": "agent-gateway",
        "summary": "Revoke an agent credential",
        "description": "Permanently revokes the credential and drops any live connections.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "204": {
            "description": "Agent credential revoked."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/agents/{agent_id}/rotate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/AgentId"
        }
      ],
      "post": {
        "operationId": "rotateAgentCredential",
        "x-feature-flag": "agent-gateway",
        "summary": "Rotate an agent credential's secrets",
        "description": "Generates a new Postgres password and MCP token for the credential in place, keeping the same id, username, name, and policy. Live connections using the old password are dropped within seconds. The new secrets are returned once and cannot be retrieved again.",
        "tags": [
          "Agents"
        ],
        "responses": {
          "200": {
            "description": "Secrets rotated. New secrets shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentCredentialSecrets"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The credential is revoked and cannot be rotated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project_id}/anomalies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listAnomalyAlerts",
        "x-feature-flag": "agent-gateway",
        "summary": "List anomaly alerts",
        "description": "Lists anomaly alerts for the project, newest first, optionally filtered by status.",
        "tags": [
          "Anomalies"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to a single status.",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "acknowledged",
                "resolved"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of anomaly alerts.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAnomalyAlertsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/anomalies/{anomaly_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/AnomalyId"
        }
      ],
      "patch": {
        "operationId": "updateAnomalyAlert",
        "x-feature-flag": "agent-gateway",
        "summary": "Triage an anomaly alert",
        "description": "Updates the triage status of an anomaly alert (acknowledge or resolve).",
        "tags": [
          "Anomalies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAnomalyAlertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated anomaly alert.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnomalyAlert"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/approvals": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listApprovalRequests",
        "x-feature-flag": "agent-gateway",
        "summary": "List approval requests",
        "description": "Lists approval requests for the project, newest first, optionally filtered by status.",
        "tags": [
          "Approvals"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to a single status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "approved",
                "rejected",
                "expired",
                "executed",
                "failed"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of approval requests.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListApprovalRequestsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/approvals/{approval_id}/approve": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/ApprovalId"
        }
      ],
      "post": {
        "operationId": "approveApprovalRequest",
        "x-feature-flag": "agent-gateway",
        "summary": "Approve a held statement",
        "description": "Approves a pending approval request, releasing the held statement.",
        "tags": [
          "Approvals"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated approval request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/projects/{project_id}/approvals/{approval_id}/reject": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/ApprovalId"
        }
      ],
      "post": {
        "operationId": "rejectApprovalRequest",
        "x-feature-flag": "agent-gateway",
        "summary": "Reject a held statement",
        "description": "Rejects a pending approval request, denying the held statement.",
        "tags": [
          "Approvals"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApprovalDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated approval request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalRequest"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/projects/{project_id}/audit-logs": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listAuditLogs",
        "x-feature-flag": "agent-gateway",
        "summary": "List agent audit logs",
        "description": "Returns agent statement audit entries for the project, newest first, with optional credential, event, decision, source and date-range filters.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuditCredentialId"
          },
          {
            "$ref": "#/components/parameters/AuditEvent"
          },
          {
            "$ref": "#/components/parameters/AuditDecision"
          },
          {
            "$ref": "#/components/parameters/AuditSource"
          },
          {
            "$ref": "#/components/parameters/AuditStart"
          },
          {
            "$ref": "#/components/parameters/AuditEnd"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "description": "Return entries strictly older than this timestamp (keyset pagination cursor).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of audit entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAuditLogsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/audit-logs/export": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "exportAuditLogs",
        "x-feature-flag": "agent-gateway",
        "summary": "Export agent audit logs as CSV",
        "description": "Streams the project's agent audit entries as a CSV file, newest first, honoring the same credential, event, decision, source and date-range filters as the list endpoint. The full filtered set is streamed (no pagination); the result is suitable for spreadsheets, SIEM ingestion, and compliance archives.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuditCredentialId"
          },
          {
            "$ref": "#/components/parameters/AuditEvent"
          },
          {
            "$ref": "#/components/parameters/AuditDecision"
          },
          {
            "$ref": "#/components/parameters/AuditSource"
          },
          {
            "$ref": "#/components/parameters/AuditStart"
          },
          {
            "$ref": "#/components/parameters/AuditEnd"
          }
        ],
        "responses": {
          "200": {
            "description": "CSV stream of filtered audit entries.",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/audit-logs/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "verifyAuditChain",
        "x-feature-flag": "agent-gateway",
        "summary": "Verify the tamper-evident audit chain",
        "description": "Recomputes the project's audit hash chain over an optional time range and reports whether it is intact. Each audit entry is linked to its predecessor with a SHA-256 hash, so editing or deleting any row breaks the chain. On a break, the response reports the first sequence number where a tampered or deleted entry was detected. Requires the same audit:read permission as the list and export endpoints.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuditStart"
          },
          {
            "$ref": "#/components/parameters/AuditEnd"
          }
        ],
        "responses": {
          "200": {
            "description": "Chain verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuditChainVerification"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "operationId": "listPlans",
        "summary": "List available plans",
        "description": "Returns all available plan tiers with their limits and pricing.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of available plans.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPlansResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/plan": {
      "get": {
        "operationId": "getOrganizationPlan",
        "summary": "Get organization plan",
        "description": "Returns the current plan and limits for the organization.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Organization plan details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/vercel-installation": {
      "get": {
        "operationId": "getVercelInstallation",
        "summary": "Get Vercel Marketplace installation status",
        "description": "Returns the Vercel Marketplace installation for the organization,\nincluding its provisioned resources and their current-period usage.\nReturns 404 when the organization was not provisioned through the\nVercel Marketplace. Powers the dashboard's Vercel integration page.\n",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "responses": {
          "200": {
            "description": "Vercel installation status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VercelInstallationStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/spend-limit": {
      "put": {
        "operationId": "updateSpendLimit",
        "summary": "Update spend limit",
        "description": "Sets the monthly spend limit for an organization. Null removes the limit.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpendLimitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spend limit updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPlan"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/cancellation-feedback": {
      "post": {
        "operationId": "submitCancellationFeedback",
        "summary": "Submit cancellation feedback",
        "description": "Records optional feedback when a user cancels their subscription.",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancellationFeedbackRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Feedback recorded."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/branches": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "listDatabaseBranches",
        "x-feature-flag": "agent-gateway",
        "summary": "List sandbox branches",
        "description": "Lists ephemeral sandbox branches for the project's databases.",
        "tags": [
          "Branches"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter to a single status.",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "ready",
                "error",
                "discarded"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Page of sandbox branches.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatabaseBranchesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/branches/{branch_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/BranchId"
        }
      ],
      "delete": {
        "operationId": "discardDatabaseBranch",
        "x-feature-flag": "agent-gateway",
        "summary": "Discard a sandbox branch",
        "description": "Marks an ephemeral sandbox branch as discarded for teardown.",
        "tags": [
          "Branches"
        ],
        "responses": {
          "204": {
            "description": "Sandbox branch discarded."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}/cache-rules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "get": {
        "operationId": "listCacheRules",
        "summary": "List cache rules",
        "description": "Returns the cache rules for a database, showing all observed query\nshapes with their stats and cache recommendations.\n",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "Cache rule entries.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCacheRulesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}/cache-rules/{query_hash}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        },
        {
          "name": "query_hash",
          "in": "path",
          "required": true,
          "description": "xxhash64 hex of the normalized SQL.",
          "schema": {
            "type": "string",
            "pattern": "^[a-f0-9]+$",
            "minLength": 16,
            "maxLength": 16
          }
        }
      ],
      "put": {
        "operationId": "updateCacheRule",
        "summary": "Update cache rule",
        "description": "Enable or disable caching for a specific query shape, with optional\nTTL and SWR overrides. Requires the query to exist in the cache rules.\n",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCacheRuleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Cache rule updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCacheRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "createDatabase",
        "summary": "Add a database",
        "description": "Registers a new upstream PostgreSQL database for the project.",
        "tags": [
          "Databases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Database created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listDatabases",
        "summary": "List databases",
        "description": "Lists all databases registered for the project.",
        "tags": [
          "Databases"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of databases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListDatabasesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "get": {
        "operationId": "getDatabase",
        "summary": "Get a database",
        "description": "Returns a single database by ID.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "200": {
            "description": "Database found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateDatabase",
        "summary": "Update a database",
        "description": "Partially updates a database connection. Only provided fields are modified.",
        "tags": [
          "Databases"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDatabaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Database updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Database"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "operationId": "deleteDatabase",
        "summary": "Delete a database",
        "description": "Removes a database registration from the project.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "204": {
            "description": "Database deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}/test-connection": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "post": {
        "operationId": "testDatabaseConnection",
        "summary": "Test database connection",
        "description": "Attempts to connect to the upstream database using the stored credentials and returns the result.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "200": {
            "description": "Connection test result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestConnectionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}/scan-pii": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "post": {
        "operationId": "scanDatabaseForPii",
        "x-feature-flag": "agent-gateway",
        "summary": "Scan a database for likely-PII columns",
        "description": "Connects to the upstream database read-only, inspects information_schema and samples column values against PII heuristics, and returns ranked masking suggestions. Suggestions are advisory — the operator reviews them and applies the ones they want into a policy profile's masking rules. Nothing is auto-applied.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "200": {
            "description": "PII scan result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanPiiResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/databases/{database_id}/schema-catalog": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "get": {
        "operationId": "getSchemaCatalog",
        "x-feature-flag": "agent-gateway",
        "summary": "Read a database's schema catalog",
        "description": "Connects to the upstream database read-only and returns its user relations (tables and views) and columns. Powers table/column autocomplete and view-aware warnings in the policy editor — relation kind distinguishes a view (whose masking/row-filters apply to the view itself, not its base tables) from a base table, and a per-column is_binary flag flags columns that mask to NULL. System schemas are excluded; nothing is persisted.",
        "tags": [
          "Databases"
        ],
        "responses": {
          "200": {
            "description": "Schema catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaCatalog"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "createCustomDomain",
        "x-feature-flag": "custom-domains",
        "summary": "Add a custom domain",
        "description": "Registers a new custom domain for the project. Returns DNS verification instructions. Requires a Scale or Enterprise plan.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Custom domain created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomDomain"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Custom domains require a Scale or Enterprise plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listCustomDomains",
        "x-feature-flag": "custom-domains",
        "summary": "List custom domains",
        "description": "Lists all custom domains registered for the project.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of custom domains.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCustomDomainsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/domains/{domain_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DomainId"
        }
      ],
      "delete": {
        "operationId": "deleteCustomDomain",
        "x-feature-flag": "custom-domains",
        "summary": "Delete a custom domain",
        "description": "Removes a custom domain from the project and revokes its TLS certificate.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "204": {
            "description": "Custom domain deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/domains/{domain_id}/verify": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/DomainId"
        }
      ],
      "post": {
        "operationId": "verifyCustomDomain",
        "x-feature-flag": "custom-domains",
        "summary": "Verify custom domain DNS",
        "description": "Checks DNS TXT record to verify domain ownership. Updates domain status on success. Requires a Scale or Enterprise plan.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyCustomDomainResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Custom domains require a Scale or Enterprise plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Returns the health status of the API server.",
        "tags": [
          "Platform"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Service is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/insights": {
      "get": {
        "operationId": "getProjectInsights",
        "summary": "Get query insights for a project",
        "description": "Returns aggregated query-level analytics for a project including top queries\nby count, cache hit/miss summary, and latency statistics.\n",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "range",
            "in": "query",
            "required": false,
            "description": "Time range to query. Defaults to 24h.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "6h",
                "24h",
                "7d"
              ],
              "default": "24h",
              "example": "24h"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of top queries to return (1-100).",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query insights for the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectInsights"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/mcp": {
      "post": {
        "operationId": "mcpTransport",
        "summary": "MCP server (Streamable HTTP)",
        "description": "Model Context Protocol endpoint using the Streamable HTTP transport. Accepts JSON-RPC 2.0 requests and exposes every public API operation as an MCP tool. Use this with any MCP-compatible client (Claude Code, Cursor, Windsurf, custom agents) to let AI assistants manage PgBeam resources.\n\n**Transport:** Streamable HTTP (MCP spec 2025-03-26)\n**Protocol:** JSON-RPC 2.0\n**Methods:** `initialize`, `tools/list`, `tools/call`, `ping`\n\nPrefer the CLI (`pgbeam mcp`) for local stdio transport. Use this endpoint for remote or server-to-server MCP integration.",
        "tags": [
          "MCP"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/McpRequest"
              },
              "examples": {
                "initialize": {
                  "summary": "Initialize session",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "1",
                    "method": "initialize",
                    "params": {
                      "protocolVersion": "2025-03-26",
                      "capabilities": {},
                      "clientInfo": {
                        "name": "my-agent",
                        "version": "1.0.0"
                      }
                    }
                  }
                },
                "tools_list": {
                  "summary": "List available tools",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "2",
                    "method": "tools/list"
                  }
                },
                "tools_call": {
                  "summary": "Call a tool",
                  "value": {
                    "jsonrpc": "2.0",
                    "id": "3",
                    "method": "tools/call",
                    "params": {
                      "name": "listProjects",
                      "arguments": {
                        "org_id": "org_abc123"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JSON-RPC 2.0 response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/McpResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/migrations:lint": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "lintMigration",
        "x-feature-flag": "agent-gateway",
        "summary": "Lint a migration",
        "description": "Analyzes a migration script for unsafe schema changes and returns findings.",
        "tags": [
          "Migrations"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrationLintRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lint results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrationLintResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/onboarding": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        }
      ],
      "get": {
        "operationId": "getOnboardingProgress",
        "summary": "Get onboarding progress",
        "description": "Returns the onboarding checklist progress for an organization.",
        "tags": [
          "Account"
        ],
        "responses": {
          "200": {
            "description": "Onboarding progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingProgress"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateOnboardingProgress",
        "summary": "Update onboarding progress",
        "description": "Mark an onboarding step as complete or dismiss the checklist.",
        "tags": [
          "Account"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOnboardingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated onboarding progress.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OnboardingProgress"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/policies": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "createPolicyProfile",
        "x-feature-flag": "agent-gateway",
        "summary": "Create a policy profile",
        "description": "Creates a policy profile that can be attached to agent credentials.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyProfileInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Policy profile created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listPolicyProfiles",
        "x-feature-flag": "agent-gateway",
        "summary": "List policy profiles",
        "description": "Lists all policy profiles for the project.",
        "tags": [
          "Policies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          }
        ],
        "responses": {
          "200": {
            "description": "List of policy profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPolicyProfilesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/policies/{policy_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        },
        {
          "$ref": "#/components/parameters/PolicyId"
        }
      ],
      "get": {
        "operationId": "getPolicyProfile",
        "x-feature-flag": "agent-gateway",
        "summary": "Get a policy profile",
        "description": "Returns a single policy profile by ID.",
        "tags": [
          "Policies"
        ],
        "responses": {
          "200": {
            "description": "The policy profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "operationId": "updatePolicyProfile",
        "x-feature-flag": "agent-gateway",
        "summary": "Update a policy profile",
        "description": "Updates a policy profile. Changes hot-reload to active agent sessions.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyProfileInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated policy profile.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyProfile"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "operationId": "deletePolicyProfile",
        "x-feature-flag": "agent-gateway",
        "summary": "Delete a policy profile",
        "description": "Deletes a policy profile. Fails if agent credentials still reference it.",
        "tags": [
          "Policies"
        ],
        "responses": {
          "204": {
            "description": "Policy profile deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Policy profile is still referenced by agent credentials.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{project_id}/policy-evaluations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "dryEvalPolicy",
        "x-feature-flag": "agent-gateway",
        "summary": "Dry-eval a policy against a SQL statement",
        "description": "Evaluates a single SQL statement against a policy (either a draft policy supplied inline or an existing policy referenced by id) and returns the decision the proxy would make: allow, block, mask, or row-filter. The evaluation reuses the data plane's own policy engine (the same parser, allow/block rules, row-filter rewriter, and masking analysis enforced on live agent sessions), so a what-if verdict matches real enforcement. Stateful checks a single-statement preview cannot model (per-region query and egress budgets, human approvals, and rollback/sandbox write routing) are reported as informational notes, not verdicts. This is a pure compute endpoint; it does not connect to the upstream database and persists nothing.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DryEvalInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The dry-eval decision.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DryEvalResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/policy-replays": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "replayPolicy",
        "x-feature-flag": "agent-gateway",
        "summary": "Replay recorded agent traffic against a policy",
        "description": "Replays the project's recorded agent audit traffic against a candidate policy (either a draft supplied inline or an existing policy referenced by id) and reports what would change: which queries that ran would now be blocked, which blocked queries would now be permitted, and which results would be masked or row-filtered. Traffic is deduplicated by normalized query shape, newest first, and every statement is evaluated through the data plane's own policy engine, so the verdicts match real enforcement. Stateful checks (budgets, approvals, write-mode routing) are reported as informational notes on each result, not verdicts. This endpoint reads only the audit log; it never connects to the upstream database and persists nothing.",
        "tags": [
          "Policies"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PolicyReplayInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The replay summary and per-query decisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyReplayResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects": {
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "description": "Creates a new project within the specified organization.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProjectResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listProjects",
        "summary": "List projects",
        "description": "Lists projects filtered by organization. Requires org_id query parameter.",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "org_id",
            "in": "query",
            "required": true,
            "description": "Organization ID to filter projects.",
            "schema": {
              "type": "string",
              "pattern": "^[\\x20-\\x7E]+$",
              "example": "org_abc123"
            }
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/PageToken"
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Sort field for projects list.",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "created_at",
                "active_connections"
              ],
              "default": "created_at",
              "example": "created_at"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListProjectsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "description": "Returns a single project by ID.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "Project found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "patch": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "description": "Partially updates a project. Only provided fields are modified.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Project"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "description": "Soft-deletes a project and all associated databases.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "204": {
            "description": "Project deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/projects/{project_id}/metrics": {
      "get": {
        "operationId": "getProjectMetrics",
        "summary": "Get project metrics",
        "description": "Returns recent project metrics snapshots, optionally filtered by region.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "BearerAuth": []
          },
          {
            "ApiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Maximum number of recent snapshots to return.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 60
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Filter metrics by region code.",
            "schema": {
              "type": "string",
              "example": "us-east-1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metrics snapshots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectMetricsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/regions": {
      "get": {
        "operationId": "listRegions",
        "summary": "List available regions",
        "description": "Returns all active data plane regions.",
        "tags": [
          "Platform"
        ],
        "responses": {
          "200": {
            "description": "List of regions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegionsResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/databases/{database_id}/replicas": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DatabaseId"
        }
      ],
      "get": {
        "operationId": "listReplicas",
        "summary": "List replicas",
        "description": "Lists all read replicas for a database.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "200": {
            "description": "List of replicas.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListReplicasResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "post": {
        "operationId": "createReplica",
        "summary": "Add a replica",
        "description": "Adds a read replica to a database.",
        "tags": [
          "Projects"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReplicaRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Replica created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Replica"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/databases/{database_id}/replicas/{replica_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DatabaseId"
        },
        {
          "$ref": "#/components/parameters/ReplicaId"
        }
      ],
      "delete": {
        "operationId": "deleteReplica",
        "summary": "Delete a replica",
        "description": "Removes a read replica from a database.",
        "tags": [
          "Projects"
        ],
        "responses": {
          "204": {
            "description": "Replica deleted."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/self-host-enrollments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        }
      ],
      "post": {
        "operationId": "createSelfHostEnrollment",
        "summary": "Issue a self-host enrollment token",
        "description": "Issues an enrollment token a self-hosted (BYOC) proxy uses to authenticate to the control plane's config/audit gRPC stream. The token is returned once and cannot be retrieved again. Requires the Scale or enterprise plan.",
        "tags": [
          "Platform"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSelfHostEnrollmentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Enrollment created. Token shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfHostEnrollmentSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The organization's plan is not entitled to self-host.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          }
        }
      },
      "get": {
        "operationId": "listSelfHostEnrollments",
        "summary": "List self-host enrollments",
        "description": "Lists an organization's self-host enrollments. Tokens are never returned.",
        "tags": [
          "Platform"
        ],
        "responses": {
          "200": {
            "description": "List of enrollments.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSelfHostEnrollmentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/self-host-enrollments/{enrollment_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        },
        {
          "name": "enrollment_id",
          "in": "path",
          "required": true,
          "description": "Unique enrollment identifier.",
          "schema": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]+$",
            "example": "she_01h455vb4pex5vsknk084sn02q"
          }
        }
      ],
      "delete": {
        "operationId": "revokeSelfHostEnrollment",
        "summary": "Revoke a self-host enrollment",
        "description": "Revokes an enrollment so its token can no longer authenticate a proxy. Connected proxies keep their last-known config until they reconnect.",
        "tags": [
          "Platform"
        ],
        "responses": {
          "204": {
            "description": "Enrollment revoked."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/self-host-enrollments/{enrollment_id}/rotate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        },
        {
          "name": "enrollment_id",
          "in": "path",
          "required": true,
          "description": "Unique enrollment identifier.",
          "schema": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_.-]+$",
            "example": "she_01h455vb4pex5vsknk084sn02q"
          }
        }
      ],
      "post": {
        "operationId": "rotateSelfHostEnrollment",
        "summary": "Rotate a self-host enrollment token",
        "description": "Mints a new enrollment token in place, keeping the same enrollment id, metadata, and expiry. The swap is atomic: the old token stops authenticating new proxy connections the moment this call returns. An already-connected proxy keeps its existing gRPC streams until it disconnects, then must present the new token to reconnect. The new token is returned once and cannot be retrieved again.",
        "tags": [
          "Platform"
        ],
        "responses": {
          "200": {
            "description": "Token rotated. New token shown once.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfHostEnrollmentSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The enrollment is revoked and cannot be rotated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/organizations/{org_id}/support/cases": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        }
      ],
      "get": {
        "operationId": "listSupportCases",
        "summary": "List support cases",
        "description": "Lists support cases for the organization with optional status and search filters.",
        "tags": [
          "Support"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "Filter by case status.",
            "schema": {
              "$ref": "#/components/schemas/SupportCaseStatus"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Search cases by title.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "description": "Number of results per page (1-100, default 20).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number (1-based, default 1).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of support cases.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListSupportCasesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "operationId": "createSupportCase",
        "summary": "Create a support case",
        "description": "Creates a new support case with an initial message.",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupportCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Support case created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/support/cases/{case_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        },
        {
          "$ref": "#/components/parameters/SupportCaseId"
        }
      ],
      "get": {
        "operationId": "getSupportCase",
        "summary": "Get a support case",
        "description": "Returns a support case with all its messages.",
        "tags": [
          "Support"
        ],
        "responses": {
          "200": {
            "description": "Support case with messages.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSupportCaseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateSupportCase",
        "summary": "Update a support case",
        "description": "Updates the status of a support case (close or reopen).",
        "tags": [
          "Support"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSupportCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated support case.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SupportCase"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organizations/{org_id}/support/cases/{case_id}/messages": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OrgId"
        },
        {
          "$ref": "#/components/parameters/SupportCaseId"
        }
      ],
      "post": {
        "operationId": "createSupportMessage",
        "summary": "Add a message to a support case",
[...]
